# Copy this file to .env.properties on each device and fill your own values.
# This file is read automatically by Spring Boot via spring.config.import.

# Neon settings
NEON_JDBC_URL=jdbc:postgresql://ep-delicate-base-anbammzv-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channelBinding=require
NEON_DB_USER=neondb_owner
NEON_DB_PASSWORD=npg_FKvV3t9ixdnw
